<form method="post" id="outputPressureForm" data-cities-url="{% url 'ajax_load_cities' %}" data-countries-url="{% url 'ajax_load_countries' %}" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_group").change(function () {
      var url = $("#outputPressureForm").attr("data-cities-url");
      var countryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'group': countryId
        },
        success: function (data) {
          $("#id_material").html(data);

          var countrySelect = document.getElementById("id_group");
          var country_value = countrySelect.options[countrySelect.selectedIndex].text;

          var citySelect = document.getElementById("id_material");
          var city_value = citySelect.options[citySelect.selectedIndex].text;

          document.getElementById("id_calculated_value").setAttribute('value', country_value + '  --  ' + city_value);
        }
      });

    });

    $("#id_material").change(function () {
      var url = $("#outputPressureForm").attr("data-countries-url");
      var cityId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'material': cityId
        },
        success: function (data) {
          $("#id_group").html(data);

          var skillsSelect = document.getElementById("id_group");
          var country_value = skillsSelect.options[skillsSelect.selectedIndex].text;

          var skillsSelect = document.getElementById("id_material");
          var city_value = skillsSelect.options[skillsSelect.selectedIndex].text;

          document.getElementById("id_calculated_value").setAttribute('value', country_value + '  --  ' + city_value);
        }
      });
    });




  </script>
