<form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" data-countries-url="{% url 'ajax_load_countries' %}" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");
      var countryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'country': countryId
        },
        success: function (data) {
          $("#id_city").html(data);

          var countrySelect = document.getElementById("id_country");
          var country_value = countrySelect.options[countrySelect.selectedIndex].text;

          var citySelect = document.getElementById("id_city");
          var city_value = citySelect.options[city.selectedIndex].text;

          document.getElementById("id_calculated_value").setAttribute('value', country_value + '  --  ' + city_value);
        }
      });

    });

    $("#id_city").change(function () {
      var url = $("#personForm").attr("data-countries-url");
      var cityId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'city': cityId
        },
        success: function (data) {
          $("#id_country").html(data);

          var skillsSelect = document.getElementById("id_country");
          var country_value = skillsSelect.options[skillsSelect.selectedIndex].text;

          var skillsSelect = document.getElementById("id_city");
          var city_value = skillsSelect.options[skillsSelect.selectedIndex].text;


          <!--var country_value = document.getElementById("id_country").getAttribute('text');-->
          <!--var city_value = document.getElementById("id_city").getAttribute('text');-->
          document.getElementById("id_calculated_value").setAttribute('value', country_value + '  --  ' + city_value);
        }
      });
    });




  </script>
