{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'output_pressure/style.css' %}">

<form method="post"
      id="resultsPressureForm"
      data-materials-url="{% url 'ajax_load_materials' %}"
      data-groups-url="{% url 'ajax_load_groups' %}"
      data-interpolated-pressure-url="{% url 'ajax_load_interpolated_pressure' %}"
      novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    function updatePressureInterpolation() {
      var url = $("#resultsPressureForm").attr("data-interpolated-pressure-url");

      var pressureClassId = $(document.getElementById("id_pressure_class")).val();
      var groupId = $(document.getElementById("id_group")).val();
      var inputTemperature = $(document.getElementById("id_input_temperature")).val();

      if( pressureClassId && groupId && inputTemperature) {
          $.ajax({
            url: url,
            data: {
              'pressure_class': pressureClassId,
              'group': groupId,
              'input_temperature': inputTemperature
            },
            success: function (data) {
              document.getElementById("id_calculated_value").setAttribute('value',data);
            }
          });
      }
    }

    $("#id_group").change(function () {
      var url = $("#resultsPressureForm").attr("data-materials-url");
      var groupId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'group': groupId
        },
        success: function (data) {
          $("#id_material").html(data);
        }
      });
      updatePressureInterpolation();
    });

    $("#id_material").change(function () {
      var url = $("#resultsPressureForm").attr("data-groups-url");
      var materialId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'material': materialId
        },
        success: function (data) {
          $("#id_group").html(data);
        }
      });
    });

    $("#id_pressure_class").change(function () {
      updatePressureInterpolation();
    });

    $("#id_input_temperature").change(function () {
      updatePressureInterpolation();
    });

</script>
